@font-face {
    font-family: firasans;
    src: url("../fonts/FiraSans-Regular.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: firasansbold;
    src: url("../fonts/FiraSans-Bold.otf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: firalight;
    src: url("../fonts/FiraSans-Light.otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: firahair;
    src: url("../fonts/FiraSans-Hair.otf");
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
}

.header_page {
    background-size: cover;
    background-position: center center;
    background-image: url("../image/HERO_IMAGE.png");
    height: 900px;
    background-color: rgba(31, 225, 237, 0.82);
    position: relative;
}

.header_page::after {
    content: "";
    width: 1129px;
    background-color: #42b7c8;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    position: absolute;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.header_wrapper {
    width: 67%;
    height: 534px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 88px;
}

.logo_and_menu_contanier {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_menu {
    width: 27px;
}

.menu {
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
}

.logo_contanier {
    width: 80px;
    height: 80px;
    background-color: #000;
    display: flex;
}

.logo_link {
    font-family: firasansbold;
    text-decoration: none;
    color: #fff;
    font-size: 60px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 72px;
    margin: 0;
    font-family: firalight;
    font-weight: 300;
    letter-spacing: -1.8px;
}

.tagline {
    font-size: 30px;
    margin: 0;
    font-family: firalight;
    letter-spacing: -0.75px;
}

.name {
    font-family: firasansbold;
}

/*==========MAIN==========*/


.images_and_biography {
    display: flex;
    margin: 0;
}

.image_bio {
    width: 50%;
    height: 500px;
}

.glass_image {
    width: 100%;
}

.biography_contanier {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 56px;
    padding-right: 255px;
    color: #666666;
    width: 50%;
    height: 500px;
    box-sizing: border-box;
}

.biography_header {
    text-transform: uppercase;
    font-family: firasansbold;
    font-size: 24px;
    margin: 0;
}

.biography_text {
    font-family: firalight;
    font-size: 36px;
    margin: 0;
    letter-spacing: -0.9px;
}

.images_contanier {
    display: flex;
    flex-wrap: nowrap;
}
.instagram {
    display: flex;
    flex-wrap: nowrap;
}
.text_contanier {
    width: 50%;
}