@font-face {
    font-family: firasans;
    src: url("../fonts/FiraSans-Regular.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: firasansbold;
    src: url("../fonts/FiraSans-Bold.otf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: firalight;
    src: url("../fonts/FiraSans-Light.otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: firahair;
    src: url("../fonts/FiraSans-Hair.otf");
    font-weight: 700;
    font-style: normal;
}

body {
    display: grid;
    grid-template-areas: 
    "header header header header"
    "imbio imbio biocontanier biocontanier"
    "image1 image2 image3 image4"
    "instagram instagram contact_instagram missing_instagram"
    "image_self_efarsing image_self_efarsing image_self_efarsing image_self_efarsing"
    "footer footer footer footer";
    grid-template-rows: 900px 500px 515px 515px 900px 500px;
    grid-template-columns: 400px 400px 400px 400px;
    margin: 0;
}

#header_page{
    grid-area: header;
}

#image_bio {
    grid-area: imbio;

}

#biography_contanier {
    grid-area: biocontanier;
}

#image1{
    grid-area: image1;
}

#image2{
    grid-area: image2;
}

#image3{
    grid-area: image3;
}

#image4{
    grid-area: image4;
}

#instagram {
    grid-area: instagram;
}

#contact_instagram {
    grid-area: contact_instagram;
}

#missing_instagram {
    grid-area: missing_instagram;
    background-color: #3f729b;;
}
#image_self_efarsing {
    grid-area: image_self_efarsing;
    position: relative;
}

#missing_page {
    background-color: #282b2f;
    position: absolute;
    grid-row: 900px;
    grid-column: 400px;
}



.header_page {
    background-size: cover;
    background-position: center center;
    background-image: url("../image/HERO_IMAGE.png");
    height: 900px;
    background-color: rgba(31, 225, 237, 0.82);
    position: relative;
}

.header_page::after {
    content: "";
    width: 1129px;
    background-color: #42b7c8;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    position: absolute;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.header_wrapper {
    width: 67%;
    height: 534px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 88px;
}

.logo_and_menu_contanier {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_menu {
    width: 27px;
}

.menu {
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
}

.logo_contanier {
    width: 80px;
    height: 80px;
    background-color: #000;
    display: flex;
}

.logo_link {
    font-family: firasansbold;
    text-decoration: none;
    color: #fff;
    font-size: 60px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 72px;
    margin: 0;
    font-family: firalight;
    font-weight: 300;
    letter-spacing: -1.8px;
}

.tagline {
    font-size: 30px;
    margin: 0;
    font-family: firalight;
    letter-spacing: -0.75px;
}

.name {
    font-family: firasansbold;
}

/*==========MAIN==========*/


.images_and_biography {
    display: flex;
    margin: 0;
}

.image_bio {
    height: 500px;
}

.glass_image {
    width: 100%;
}

.biography_contanier {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 56px;
    padding-right: 255px;
    color: #666666;
    height: 500px;
    box-sizing: border-box;
}

.biography_header {
    text-transform: uppercase;
    font-family: firasansbold;
    font-size: 24px;
    margin: 0;
}

.biography_text {
    font-family: firalight;
    font-size: 36px;
    margin: 0;
    letter-spacing: -0.9px;
}
.image_mountain {
    width: 100%;
    height: 100%;
}
.instagram {
    display: flex;
    flex-wrap: nowrap;
    background-color: #3f729b;
    align-items: center;
}
.text_contanier {
    margin-left: 212px;
    margin-right: 94px;
    color: #f9f9f9;
}
.title_social {
    margin: 0;
    font-size: 24px;
    font-family: firasansbold;
}

.text_instagram {
    font-family: firalight;
    font-size: 36px;
    letter-spacing: -0.9px;
}

.link_container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 2px solid #ffffff;
    border-radius: 28px;
    width: 280px;
    padding: 15px 29px 13px 27px;
}

.link_instagram {
    font-family: firasansbold;
    text-decoration: none;
    color: #f9f9f9;
    font-size: 18px;
    letter-spacing: 3.6px;
}
.image_self_efarcing {
    opacity: 0.7;
}